pipeline/Class27_Scenario4.json
{
	"name": "Class27_Scenario4",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('dayOfWeek'),0),equals(variables('dayOfWeek'), 6))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Filter3_copy1_copy1",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@variables('finalvalue')",
									"type": "Expression"
								},
								"condition": {
									"value": "@not(or(contains(item(),'India'),contains(item(),'US')))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ForEach1_copy1_copy1",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "Filter3_copy1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Filter3_copy1_copy1').output.Value",
									"type": "Expression"
								},
								"isSequential": true,
								"activities": [
									{
										"name": "Set variable6_copy1_copy1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "vartue",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vartue",
								"value": {
									"value": "@string(pipeline().parameters.regionTrue)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Filter3_copy1",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@variables('finalvalue')",
									"type": "Expression"
								},
								"condition": {
									"value": "@or(contains(item(),'India'),contains(item(),'US'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ForEach1_copy1",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "Filter3_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Filter3').output.Value",
									"type": "Expression"
								},
								"isSequential": true,
								"activities": [
									{
										"name": "Set variable6_copy1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "vartue",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dayOfWeek",
					"value": {
						"value": "@dayOfWeek(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter3",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set variable5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('finalvalue')",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(contains(item(),'India'),contains(item(),'US'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "finalvalue",
					"value": [
						"India",
						"US",
						"EU",
						"APAC",
						"MEA"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter3').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable6",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vartue",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter3_copy2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter3_copy2').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable7",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vartue",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter3_copy2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set variable5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('finalvalue')",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(or(contains(item(),'India'),contains(item(),'US')))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"regionTrue": {
				"type": "array",
				"defaultValue": [
					"India",
					"US"
				]
			},
			"regionFalse": {
				"type": "array",
				"defaultValue": [
					"EU",
					"APAC",
					"MEA"
				]
			}
		},
		"variables": {
			"dayOfWeek": {
				"type": "Integer"
			},
			"vartue": {
				"type": "String"
			},
			"finalvalue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}