pipeline/Class27_Scenario4.json
{
	"name": "Class27_Scenario4",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('dayOfWeek'),0),equals(variables('dayOfWeek'), 6))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vartue",
								"value": {
									"value": "@string(pipeline().parameters.regionFalse)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Filter2",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@pipeline().parameters.regionFalse",
									"type": "Expression"
								},
								"condition": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vartue",
								"value": {
									"value": "@string(pipeline().parameters.regionTrue)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Filter1",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@pipeline().parameters.regionTrue",
									"type": "Expression"
								},
								"condition": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dayOfWeek",
					"value": {
						"value": "@dayOfWeek(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter3",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set variable5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('finalvalue')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item(),'MEA')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "finalvalue",
					"value": [
						"EU",
						"APAC",
						"MEA"
					]
				}
			}
		],
		"parameters": {
			"regionTrue": {
				"type": "array",
				"defaultValue": [
					"India",
					"US"
				]
			},
			"regionFalse": {
				"type": "array",
				"defaultValue": [
					"EU",
					"APAC",
					"MEA"
				]
			}
		},
		"variables": {
			"dayOfWeek": {
				"type": "Integer"
			},
			"vartue": {
				"type": "String"
			},
			"finalvalue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}