pipeline/Clss27_Scenario3.json
{
	"name": "Clss27_Scenario3",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('counter'), 3)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Fail_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Execute Pipeline1').output.status,'Succeeded')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set Temp",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "temp",
											"value": {
												"value": "@add(variables('counter'),1)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set Counter",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set Temp",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "counter",
											"value": {
												"value": "@variables('temp')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "status",
											"value": {
												"value": "success",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set Counter_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('counter'),3)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "pipelineReturnValue",
											"value": [
												{
													"key": "finalvalue",
													"value": {
														"type": "String",
														"content": "sent email"
													}
												}
											],
											"setSystemVariable": true
										}
									}
								]
							}
						},
						{
							"name": "Set Temp_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp",
								"value": {
									"value": "@add(variables('counter'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Counter_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Temp_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": {
									"value": "@variables('temp')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "00:05:00"
				}
			}
		],
		"variables": {
			"counter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"temp": {
				"type": "Integer",
				"defaultValue": 0
			},
			"status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}