pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('dayOfWeek'),0),equals(variables('dayOfWeek'), 6))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "weekdays",
										"value": {
											"type": "Object",
											"content": "@pipeline().parameters.regionFalse"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "weekendlist",
										"value": {
											"type": "Object",
											"content": "@pipeline().parameters.regionTrue"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dayOfWeek",
					"value": {
						"value": "@dayOfWeek(utcNow())",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"regionTrue": {
				"type": "array",
				"defaultValue": [
					"India",
					"US"
				]
			},
			"regionFalse": {
				"type": "array",
				"defaultValue": [
					"EU",
					"APAC",
					"MEA"
				]
			}
		},
		"variables": {
			"dayOfWeek": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}